<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dlrtn.websocket.chat.mapper.UserMapper">
    <insert id="saveUser" parameterType="User">
        INSERT INTO TB_USER (
            USER_ID,
            PASSWORD,
            USER_NAME,
            AUTH_ROLE,
            CREATED_DATE,
            UPDATED_DATE
        ) VALUES (
            #{userId},
            #{password},
            #{realName},
            #{authRole},
            #{createdAt},
            #{updatedAt}
        )
    </insert>

    <select id="findUserByUserId" parameterType="String" resultType="User">
        SELECT
            USER_NO,
            USER_ID,
            PASSWORD,
            USER_NAME,
            AUTH_ROLE,
            CREATED_DATE,
            UPDATED_DATE
        FROM
            TB_USER
        WHERE
            USER_ID = #{userId}
    </select>


    <select id="findAllUsers" resultType="User">
        SELECT
            USER_NO,
            USER_ID,
            PASSWORD,
            USER_NAME,
            AUTH_ROLE,
            CREATED_DATE,
            UPDATED_DATE
        FROM
            TB_USER
    </select>
</mapper>